@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
  list-style-type: none;
}

header {
    border-bottom: 1px solid #56B28033;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  height: 5rem;
}

div#options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

div#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

div#icons-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }

section#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 6rem;
    margin-bottom: 4rem;
}

div#right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
  width: 40rem;
}

div#right-content h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.625rem;
}

div#right-content h5 {
  font-size: 2rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

div#left-content p {
    text-align: center;
    font-family: "Poppins", sans-serif, Arial;
    font-weight: 500;
}

div#left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    height: 46rem;  
}

p#greenShipping {
  color: #56B280;
}

div#price-choice {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 8.3rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}

div#price-choice h5 {
  color: #56B280;
}

div#first-time {
  display: flex;
  gap: 1rem;
}

button#btn-one {
  border-radius: 50%;
  margin: auto;
  width: auto;
  height: 1rem;
}

button#quant {
  width: 4rem;
  height: 2rem;
  color: #56B280;
  font-weight: 700;
  border-color: #56B280;
}

div#select-number {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 9.3rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

div#select-number p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

div#select-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#select-option p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

div#select-option {
  padding: 1rem;
  border: 1px solid #56B28033;
  border-radius: 3%;
  gap: 1rem;
}


button#btn-two {
  border-radius: 50%;
  margin: auto;
  width: auto;
  height: 1rem;
  background-color: #56B280;
}

div#btn-cart button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 22rem;
  background-color: #56B280;
  color: aliceblue;
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  border-radius: 4%;
  border: none;

}

div#btn-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

div#btn-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14rem;
  margin-left: 13.3rem;
}

div#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #56B28033;
  border-radius: 3%;
  gap: 1rem;
  width: 35rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

div#details p {
  color: #849A8E;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

div#details strong {
  color: #1D252C;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

section#footer-full {
  background-color: #272727;
  height: 24rem;
}

div#left-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

div#left-footer p {
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

footer#footer-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19rem;
  height: 20rem;

}

div#all-containers {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

div#all-containers p {
  color: aliceblue;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

div#all-containers h6 {
  color:#56B280;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 500;
}

div#conteiner-discovery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div#conteiner-about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div#conteiner-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div#line {
  border-bottom: 0.1rem solid white;
  height: 4rem;
  margin-left: 18rem;
  margin-right: 14rem;
}
